.categories{
    padding: 6rem 2rem 1rem 2rem;
    color: var(--text-color-primary);
    z-index: 1;
    position: fixed;
    width: 100vw;
    background-color: var(--background-color);
}

.btn-category{
    padding: 0;
    top: 6rem;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    color: var(--text-color-primary);
    width: 24px;
    height: 24px;
}

.btn-left{
    left: 8rem;
}

.btn-right{
    right: 11rem;
}

.border-bottom{
    border-bottom: 1px solid var(--text-color-primary);
}

.btn-filter{
    top: 5.5rem;
    right: 2rem;
    padding: 8px 1rem;
    border-radius: 2rem;
    border: 1px solid var(--accent-color);
}

.btn-filter:hover, .btn-category:hover{
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
}